[core]
  pager = delta
  hooksPath = ~/.config/git/hooks
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  side-by-side = true
[merge]
  conflictStyle = zdiff3
[include]
  path = ~/.config/delta/themes.gitconfig
[user]
	email = peter.kurlak@emerson.com
	name = Peter Kurlak
[init]
	defaultBranch = main
[diff]
	external = difft
