os:
  editPreset: 'nvim'
gui:
  theme:
    selectedLineBgColor:
      - reverse
    selectedRangeBgColor:
      - reverse
git:
  pagers:
    - colorArg: never
      pager: delta --dark --paging=never --line-numbers --features chameleon
